
# Python
.venv/
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# Logs
logs/
*.log

# Airflow
airflow.cfg
airflow.db
airflow-webserver.pid

# dbt
dbt/logs/
dbt/*/target/
dbt/*/logs/
dbt/*/dbt_packages/
dbt/*/packages.yml.lock

# Data
data/raw/
data/processed/

# Power BI
*.pbix.autosave

# OS
.DS_Store
Thumbs.db
dbt/profiles/.user.yml
